@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --footer-color:#2F303A;
    --body-color:#212121;
    --main-color:#ffffff;
    --text-color:#757575;
    --back-color:#2196F3;
    --header-color:#333;
}

body {
    font-family: "Roboto";
    line-height: 1.6;
    color: var(--header-color);
}
main{
   background-color: var(--main-color);
}



header {
    background-color: var(--main-color);
    color: var(--body-color);
    padding: 10px;
    text-align: start;
}
.portfolio-text{
    color: var(--text-color);

font-family: "Roboto";
font-size: 16px;

font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}
.portfolio-name{
    color: var(--body-color);

font-family: "Roboto";
font-size: 18px;

font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;

}


header nav ul li a {
    color:  var(--body-color);
    
   text-decoration: none;
}
.button-main button[data-number="first"]{
    padding: 10px 20px;
   background-color: var(--back-color);
    color: var(--main-color
    );
    border: none;
    cursor: pointer;
}
.button-main button[data-number="second"]{
    padding: 10px 20px;
   
    color: var(--body-color);
    border: none;
    cursor: pointer;
}
.button-main button[data-number="third"]{
    padding: 10px 20px;
   
    color: var(--body-color);
    border: none;
    cursor: pointer;
}
.button-main button[data-number="four"]{
    padding: 10px 20px;
   
    color: var(--body-color);
    border: none;
    cursor: pointer;
}
.button-main button[data-number="fifth"]{
    padding: 10px 20px;
   
    color: var(--body-color);
    border: none;
    cursor: pointer;
}
footer {
    background-color: var(--footer-color);
    padding: 10px;
    text-align: left;
}

footer p {
    color: var(--main-color);
    margin: 10px 0;
}

li{
    list-style: none;
}

.contact-Web{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    text-decoration: none;
    font-family: "Raleway";
}
.nav-text{
    color: var(--back-color);}
    .header-logo{
        color: var(--body-color);
font-family: "Raleway";
font-size: 26px;

font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
text-decoration: none;
    }
    .blue-color{
        color: var(--back-color);
    }
 